body {
/*    padding: 50px;*/
    font: 56px Helvetica, Arial, sans-serif;
    color: #F7F7F7;
    background-color: black;
    overflow: hidden;
    height:100vh; /* This is needed to overcome a Chrome bug. */
    width:100vw;  /* As above. */
}

#sign_l {
/*    padding: 50px;*/
/*    font: 70px Helvetica, Arial, sans-serif;*/
    font: 75px Helvetica, Arial, sans-serif;
    color: #F7F7F7;
    background-color: black;
    overflow: hidden;
}

.CSS_FeaturedAlertsTitle {
    background-color: #fc8b00;
    color: black;
    border-color: red;
    border-style: solid;
    border-width: 5px;
    border-radius: 25px;
    display: block;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 75%;
    font-weight: bolder;
}

#sign_l .CSS_FeaturedAlertsTitle {
    background-color: #fc8b00;
    color: black;
    border-color: red;
    border-style: solid;
    border-width: 7px;
    border-radius: 37px;
    display: block;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 75%;
    font-weight: bolder;
}

.CSS_DeparturesTitle {
    background-color: yellow;
    color: black;
    border-radius: 25px;
    display: block;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    font-size: 75%;
    font-weight: bolder;
}

#sign_l .CSS_DeparturesTitle {
    background-color: yellow;
    color: black;
    border-radius: 37px;
    display: block;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 30px;
    font-size: 75%;
    font-weight: bolder;
}

.CSS_CurrentAlertsTitle {
    background-color: #FF6464;
    color: black;
    border-radius: 25px;
    display: block;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 75%;
    font-weight: bolder;
}

#sign_l .CSS_CurrentAlertsTitle {
    background-color: #FF6464;
    color: black;
    border-radius: 37px;
    display: block;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 75%;
    font-weight: bolder;
}

.CSS_UpcomingAlertsTitle {
    background-color: black;
    color: #FF6464;
    border-radius: 25px;
    border-color: #FF6464;
    border-style: solid;
    border-width: 5px;
    display: block;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 75%;
    font-weight: bolder;
}

#sign_l .CSS_UpcomingAlertsTitle {
    background-color: black;
    color: #FF6464;
    border-radius: 37px;
    border-color: #FF6464;
    border-style: solid;
    border-width: 7px;
    display: block;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 75%;
    font-weight: bolder;
}

.AlertTimeframe {
/*    font-variant: small-caps;*/
/*    font-weight: bold; */

/*    font-style: italic; */
    display: inline;
    color: #FF6464;
    /*color: #FF0000;*/
    font-weight: lighter;

}

#sign_l .AlertTimeframe {
/*    font-variant: small-caps;*/
/*    font-weight: bold; */

/*    font-style: italic; */
    display: block;
    text-align: center;
    color: #FF6464;
    /*color: #FF0000;*/
    font-weight: lighter;

}

#departurestable {
    width: 100%;
}

#departurestable th {
    font-size: 50%;
    color: #EEEEEE;
}

#departurestable tr {
    font-size: 150%;
}

th.destination {
    text-align: left;
}

td {
    padding-bottom: 0.35em;
}

td.route {
  vertical-align: middle;
  text-align: center;
  vertical-align: text-top;
  font-size: 85%;
}

td.train {
  vertical-align: middle;
  text-align: center;
  vertical-align: text-top;
  font-size: 85%;
}


tr.Bus td.route {
  font-weight: bold;
}


td.destination {
    vertical-align: middle;
    font-size: 85%;
    line-height: 80%;
    vertical-align: text-top;
}

.destinationSubtitle {
    font-size: 60%;
    font-weight: lighter;
}

.locationName {
    font-size: 60%;
    font-weight: lighter;
}

td.minutes_away {
    vertical-align: middle;
    text-align: center;
    vertical-align: text-top;
}


.alert {
    font-size: 100%;
    padding-bottom: 1.0em;
}

#sign_l .alert {
    font-size: 120%;
    padding-bottom: 1.5em;
}


.featuredAlertDescription {
    font-size: 150%;
    padding-bottom: 0.5em;
    vertical-align: middle;
}


.featuredAlertDetails {
    font-size: 75%;
    font-weight: light;
}

.CSS_ElevatorAlertsTitle {
    background-color: lightskyblue;
    color: black;
    border-radius: 25px;
    display: block;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 75%;
    font-weight: bolder;
    margin-bottom: 20px;
}

#sign_l .CSS_ElevatorAlertsTitle {
    background-color: lightskyblue;
    color: black;
    border-radius: 37px;
    display: block;
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 75%;
    font-weight: bolder;
    margin-bottom: 30px;
}

.elevatorNumberContainer {
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 15px;
}

.upcomingElevatorTimeframe {
  color: lightskyblue;
  font-size: 80%;
}

.elevatorNumber {
    color: black;
    border-style: solid;
    border-radius: 8px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 8px;
    border-right-width: 8px;
}

#sign_l .elevatorNumber {
    color: black;
    border-style: solid;
    border-radius: 12px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 12px;
    border-right-width: 12px;
}

table.elevatorCurrent .elevatorStation {
    color: lightskyblue;
}

table.elevatorCurrent .elevatorNumber {
    background-color: lightskyblue;
    border-color: lightskyblue;
}

table.elevatorUpcoming .elevatorNumber {
    background-color: white;
    border-color: white;
}

.elevatorDescription {
    font-size: 80%;
}

.elevatorTimeframe {
    font-size: 75%;
}

.upcomingElevatorStation {
    color: white;
}

.upcomingElevatorNumber {
    color: black;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 8px;
    border-right-width: 8px;
}

#sign_l .upcomingElevatorNumber {
    color: black;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 12px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 12px;
    border-right-width: 12px;
}


.psa {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

.psa img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}


#status {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 200px;
    display: block;
    font-size: 100%;
    font-weight: bold;
}

#clock {
    float: right;
    font-size: 66%;
    padding-top: 5px;
    padding-right: 5px;
}
