<!DOCTYPE html>
<html lang='en'>

<head>
    <title>ScreenTime</title>
    <link rel='stylesheet' href='style?id=DEFAULT_SIGN_ID'></link>
	<script src='software?id=DEFAULT_SIGN_ID' type='text/javascript'></script>
    <script src='socket.io/socket.io.js' type='text/javascript'></script>

    <script type="template" id='departures-list-template'>
        <div class="<%= titleFormat %>"><%- titleText %></div>
        <table id="departurestable">
            <tbody>
                <tr>
                    <th class="route"><%- routeColHeader %></th>
                    <th class="destination"><%- destinationColHeader %></th>
                    <th class="minutes_away"><%- minutesAwayColHeader %></th>
                </tr>
            </tbody>
        </table>
        </div>
    </script>


    <script type="template" id='departure-template'>
        <td class="route" style="color:<%= route.color %>"><%- route.shortName %></td>
        <td class="destination" style="color:<%= route.color %>"><%- destinationTitle %><br>
            <span class="destinationSubtitle"><%- destinationSubtitle %></span>
        </td>
        <td class="minutes_away" style="color:<%= route.color %>"><%- minsAway %></td>
    </script>

    <script type="template" id='alerts-list-template'>
        <div class="<%= this.model.get('titleFormat') %>">
        <%- this.model.get('titleText') %></div>
        <div class="alerts-list">
        </div>
    </script>

    <script type="template" id='alert-template-simple'>
        <%= this.model.getFormatted('description') %>
    </script>

    <script type="template" id='alert-template-timeframe'>
        <div class='AlertTimeframe'><%- _(this.model.get('timeframe')).capitalize() %>: </div>
        <%= this.model.getFormatted('description') %>
    </script>

    <script type="template" id='alert-template-elevator'>
        <% if (this.model.get('isCurrent')) { %>
        <table class="elevatorCurrent">
        <% } else {%>
        <table class="elevatorCurrent">
        <% } %>
        <tbody>
        <tr>
        <td>
        <% if (this.model.get('isUpcoming')){ %>
        <%- _(this.model.get('timeframe')).capitalize() %>: 
        <% } %>
        <span  class="elevatorStation">
        <%- this.model.get('affectedStation') %>
        </span>
        <span  class="elevatorNumber">
        <%- this.model.get('affectedElevatorId') %>
        </span>
        </td>
        </tr>
        <tr>
        <td class="elevatorDescription">
        <%- this.model.get('affectedElevatorDescription') %>
        <% if (!this.model.get('isUpcoming') && this.model.get('timeframe') !== 'ongoing' ){ %>
        <br>
        <span>
        <%- _(this.model.get('timeframe')).capitalize() %>
        </span>
        <% } %>
        </tbody>
        </table>
    </script>

</head>

<body onload="init()">
    <div id="content">
    <div id="clock"></div>
    <div id="featuredAlerts"></div>
    <div id="departures"></div>
    <div id="currentAlerts"></div>
    <div id="upcomingAlerts"></div>
    <div id="elevatorAlerts"></div>
    <div id="status">Loading</div>
    </div>

</body>

</html>
