<!-- filename: alert-elevator -->
<% if (this.model.get('isNow')) { %>
<table class="elevatorCurrent">
<% } else {%>
<table class="elevatorCurrent">
<% } %>
<tbody>
<tr>
<td>
<span  class="elevatorStation"><%- this.model.get('affectedStation') %></span>
<span  class="elevatorNumber"><%- this.model.get('affectedElevatorId') %></span>
<% if (this.model.get('isSoon')){ %>
<%- this.model.get('timeframe') %>
<% } %>            
</td>
</tr>
<tr>
<td class="elevatorDescription">
<%- this.model.get('affectedElevatorDescription') %>
<% if (!this.model.get('isSoon') && this.model.get('timeframe') !== 'ongoing' && this.model.get('timeframe') !== ''){ %>
<br>
<span><%- this.model.get('timeframe') %></span>
<% } %>
</td>
</tr>
</tbody>
</table>
