<!-- Filename: templates/departures.html -->
<div class="<%= titleFormat %>"><%- titleText %></div>
<table id="departurestable">
    <tbody>
        <tr id="train-departures-header">
            <th class="train"><%- trainColHeader %></th>
            <th class="destination"><%- destinationColHeader %></th>
            <th class="minutes_away"><%- minutesAwayColHeader %></th>
        </tr>
        <tr id="route-departures-header">
            <th class="route"><%- routeColHeader %></th>
            <th class="destination"><%- destinationColHeader %></th>
            <th class="minutes_away"><%- minutesAwayColHeader %></th>
        </tr>
    </tbody>
</table>
</div>
